# PyCharm ignores
.idea

# Virtual environments
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/

# macOS
.DS_Store

# OCR Results
correctedOCR/
initialOCR/

# environment variables
.env

#documents
*.pdf